<%= form_with(model: petservice, local: true) do |form| %>
  <% if petservice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(petservice.errors.count, "error") %> prohibited this petservice from being saved:</h2>

      <ul>
      <% petservice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
