<h3 id="title">Pets</h3>


<div id="card-24242">
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-24242" href="#card-element-242424">Pets</a>
    </div>
    <div id="card-element-242424" class="show">
      <div class="card-body">
        <%= render :partial => "list" %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-24242" href="#card-element-131313">Custom Fields</a>
    </div>
    <div id="card-element-131313" class="show">
      <div class="card-body">
        <%= render :partial => "customfields/list", locals: {customfield: @customfields}%>
      </div>
    </div>
  </div>
</div>
