<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>class_setting_location_id</th>
      <th>class_setting_id</th>
      <th>location_id</th>
    </tr>
  </thead>

  <tbody>
    <% @classsettinglocations.each do |classsettinglocation| %>
      <tr>
        <td><%= classsettinglocation.class_setting_location_id %></td>
        <td><%= classsettinglocation.class_setting_id %></td>
        <td><%= classsettinglocation.location_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @classsettinglocations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
