<div class="card">
  <div class="card-header">
    <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-404785" href="#card-element-259345">Dog Grooming </a>
  </div>
  <div id="card-element-259345" class="collapse">
    <div class="card-body">
      Complete pet grooming set including manifests, locations, staff, services, clients, pets, appointments and inventory. <br>
      <div class="btn-group" role="group">
        <a class="btn btn-success btn-sm" href="static/export_petset.zip" role="button">Export Grooming Set</a>
        <a class="btn btn-success btn-sm" href="static/export_petsetwclasses.zip" role="button">Export Grooming w/Classes</a>
      </div><br>
      Export clients and pets in a zip file without preferred location or preferred staff. Includes manifest.<br>
      <a class="btn btn-warning btn-sm" href="static/export_clients_and_pets.zip" role="button">Export Clients w/ Pets</a><br>
    </div>
  </div>
</div>
