<div class="card">
  <div class="card-header">
    <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-404785" href="#card-element-229081">Salons</a>
  </div>
  <div id="card-element-229081" class="collapse">
    <div class="card-body">
      Complete salon set including manifests, locations, staff, services, clients, appointments, tickets and inventory. <br>
      <div class="btn-group" role="group">
        <a class="btn btn-success btn-sm" href="static/export_salonset.zip" role="button">Export Salon Set</a>
        <a class="btn btn-success btn-sm" href="static/export_salonsetwclasses.zip" role="button">Export Salon w/Classes</a>
        <a class="btn btn-success btn-sm" href="static/export_salonsetwbundles.zip" role="button">Export Salon w/Bundles</a>
        <a class="btn btn-success btn-sm" href="static/export_salonsetwclasseswbundles.zip" role="button">Export Salon w/Classes & Bundles</a>
      </div>
    </div>
  </div>
</div>
