<div class="card">
  <div class="card-header">
    <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-404785" href="#card-element-334433">Partial Sets</a>
  </div>
    <div id="card-element-334433" class="collapse multi-collapse">
      <div class="card-body">
        Export classes in a zip file using the locations from above. Includes manifest.<br>
        <a class="btn btn-warning btn-sm" href="static/export_classes.zip" role="button">Export Classes</a>
        <hr>
        Export clients and pets in a zip file without preferred location or preferred staff. Includes manifest.<br>
        <a class="btn btn-warning btn-sm" href="static/export_clients_and_pets.zip" role="button">Export Clients w/ Pets</a><br>
        <hr>
        Export appointment zip file with appointments manifest. Uses location, employee, service, and client IDs from files above. <br>
        <a class="btn btn-warning btn-sm" href="static/export_appointments.zip" role="button"disabled>Export Appointments</a>
        <hr>
        Export appointment zip file with inventory manifest. Uses location IDs from files above. <br>
        <a class="btn btn-warning btn-sm" href="static/export_inventory.zip" role="button"disabled>Export Inventory</a>
        <hr>
        Export ticket zip file with ticket manifest. Uses location, clients, appointments, etc from files above. <br>
        <a class="btn btn-warning btn-sm" href="static/export_tickets.zip" role="button"disabled>Export Tickets</a>
        <hr>
        Export bundles zip file with bundles manifest. Uses location, services, SKUs, etc from files above. <br>
        <a class="btn btn-warning btn-sm" href="static/export_bundles.zip" role="button"disabled>Export Bundles</a>
      </div>
    </div>
  </div>
