<div class="card">
  <div class="card-header">
    <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-404785" href="#card-element-375621">Yoga</a>
  </div>
  <div id="card-element-375621" class="collapse multi-collapse">
    <div class="card-body">
      Complete yoga set including manifests, locations, staff, services, clients, appointments, tickets and inventory. <br>
      <div class="btn-group" role="group">
        <a class="btn btn-success btn-sm" href="static/yoga.zip" role="button">Export Yoga Set</a>
        <a class="btn btn-success btn-sm" href="static/yogawclasses.zip" role="button">Export Yoga w/Classes</a>
        <a class="btn btn-success btn-sm" href="static/yogawbundles.zip" role="button">Export Yoga w/Bundles</a>
        <a class="btn btn-success btn-sm" href="static/yogawclasseswbundles.zip" role="button">Export Yoga w/Classes & Bundles</a>
      </div>
    </div>
  </div>
</div>
