<div class="card">
  <div class="card-header">
    <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-121214" href="#card-element-343">Using a partial set? </a>
  </div>
  <div id="card-element-343" class="collapse multi-collapse">
    <div class="card-body">
      <ol>
        <li class="list-item">
          This type of set works best if you created the account by importing a complete set in the past. It comes with a batch manifest.
        </li>
        <li class="list-item">
          Make sure that your account has all the necessary matching data, like locations or staff with the correct external IDs. Again, if you imported a complete set to create the account, this will be done for you as long as you have not deleted the original locations, staff, etc.
        </li>
        <li class="list-item">
          Login to your merchant account and choose the Ingest Data option in the top right menu. This should be done from the child account, not the parent account.
        </li>
        <li class="list-item">
          Choose the Import option and import the file.
        </li>
      </ol>
    </div>
  </div>
</div>
