<table class="table table-striped table-bordered table-sm" cellspacing="0">

<thead>
  <tr>
    <th style ="word-wrap:break-word;">bundle item group id</th>
    <th style ="word-wrap:break-word;">location id</th>
    <th style ="word-wrap:break-word;">price per item</th>
  </tr>
</thead>

<tbody>
  <% @bundle_item_group_prices.each do |bundle| %>
    <tr>
      <td style ="word-wrap:break-word;"><%= bundle.bundle_item_group_id_group_prices %></td>
      <td style ="word-wrap:break-word;"><%= bundle.location_id %></td>
      <td style ="word-wrap:break-word;"><%= bundle.price_per_item %></td>
    </tr>
  <% end %>
</tbody>
</table>
