<h3 id="title">Bundles</h3>


<div id="card-48658">
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-48658" href="#card-element-486581">Bundles</a>
    </div>
    <div id="card-element-486581" class="show">
      <div class="card-body">
        <%= render :partial => "list" %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-48658" href="#card-element-5456">Bundle Items</a>
    </div>
    <div id="card-element-5456" class="collapse">
      <div class="card-body">
        <%= render :partial => "listitems" %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-48658" href="#card-element-122122">Bundle Item Groups</a>
    </div>
    <div id="card-element-122122" class="collapse">
      <div class="card-body">
        <%= render :partial => "listitemgroups" %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-48658" href="#card-element-5654">Bundle Item Group Prices</a>
    </div>
    <div id="card-element-5654" class="collapse">
      <div class="card-body">
        <%= render :partial => "listitemgroupprices" %>
      </div>
    </div>
  </div>
</div>
