<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>Code</th>
      <th>Amount</th>
      <th>Purchased At</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.code %></td>
        <td><%= appointment.amount %></td>
        <td><%= appointment.start_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @appointments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
