<h3 id="title">Appointments</h3><br>
<a class="btn btn-warning" href="static/export_appointments.zip" role="button" disabled>Export Appointment Zip</a>

<div id="card-85858">
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-85858" href="#card-element-858585">Appointments Table</a>
    </div>
    <div id="card-element-858585" class="show">
      <div class="card-body">
        <%= render :partial => "list" %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-85858" href="#card-element-855855">Appointments</a>
    </div>
    <div id="card-element-855855" class="collapse">
      <div class="card-body">
        <%= render :partial => "listappointments"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-85858" href="#card-element-888888">Appointment Services</a>
    </div>
    <div id="card-element-888888" class="collapse">
      <div class="card-body">
        <%= render :partial => "listappointmentservices"%>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-85858" href="#card-element-585858">Appointment Statuses</a>
    </div>
    <div id="card-element-585858" class="collapse">
      <div class="card-body">
        <%= render :partial => "listappointmentstatuses"%>
      </div>
    </div>
  </div>
</div>
