<%= button_to 'Export', {controller: "application", action: "export_batchmanifest"}, method: :get, class: "btn btn-danger" %>

<table class="table table-striped table-bordered table-sm" cellspacing="0">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @batchmanifests.each do |batchmanifest| %>
      <tr>
        <td><%= batchmanifest.filename %></td>
        <td><%= batchmanifest.filetype %></td>
      </tr>
    <% end %>
  </tbody>
</table>
