<h3 id="title">Locations</h3>


<div id="card-76767">
  <div class="card">
    <div class="card-header">
       <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-76767" href="#card-element-767676">Locations</a>
    </div>
    <div id="card-element-767676" class="show">
      <div class="card-body">
        <%= render :partial => "list" %>
      </div>
    </div>
  </div>
</div>
